body {
    text-align: center;
    font-family: Arial;
    color: black;
    background-size: cover;
    background-position: center;
    transition: background 1s ease;
}

.theme-lava {
    background-image: url("lava.gif");
}

.theme-ocean {
    background-image: url("ocean.gif");
}

.theme-sunset {
    background-image: url("sunset.gif");
}

.theme-galaxy {
    background-image: url("galaxy.gif");
}
